.header{
    text-align: center;
    background-color: blue;
    color: white;
    display: block;
    height: 150px;
    width: 100%;
    padding-top: 5px;
}

.button{
    
    display: inline-block;
    padding-left: 23%;
    
    
    
}



body{
    width:auto;
    height:auto;
    margin:0;
    background-color: white;
color: black;
}

.dogImg{
    width: 300px;
    height: 250px;

}
.dogs{
    float: left;
    padding-left:25px
}

.border{
    border: 5px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

