.header{
    text-align: center;
    background-color: blue;
    color: white;
    display: block;
    height: 150px;
    width: 100%;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
.tabs{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding-top: 12px;
  height: 30px;
  background-color: lightblue;
}
.button{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.button:hover {
  background-color: white;
  height: 30px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}



body{
    width:auto;
    height:auto;
    margin:0;
    background-color: white;
    color: black;
}

.dogImg{
    width: 300px;
    height: 250px;
    border-top:solid; border-color: lightblue;
    border-left:solid; border-color: lightblue;
}
.dogs{
    display:inline-table;
    padding-left:200px;
    padding-bottom: 25px;
    padding-top: 15px;
  
    transform:translate(100px)
    
}

.border{
    border: 15px;
    border-style: inset;
    text-align: center;
    background-color: white;
}
.locationText{
  border: 5px;
  margin:0 auto;
  border-style: solid;
  border-color: lightblue;
  text-align: center;
  background-color: lightblue;
  align-items: center;
  width: 30%;

}

.about{
  border: 5px;
  margin:0 auto;
  border-style: solid;
  border-color: lightblue;
  text-align: center;
  background-color: lightblue;
  align-items: center;
  width: 30%;
  
}
.contact{
  display: inline-block;
  padding:10px
}


.dark {
    background-color: #262626;
    color: white;
    background: #262626;
    
    
  }
  #darkbutton{
  position: relative;
  display: block;

  width:32px;
  height:16px;
  border-radius:160px;
  background:#222;
  cursor: pointer;
  transition:0.5s;
  transform: translate(5560%, -40px);
}
#darkbutton .lightbutton{
  position: absolute;
  top:0;
  left:0;
  Width: 16px;
  height:16px;
  background:#444;
  border-radius: 50%;
  transform:scale(0.9);
  transition:0.5s;

}
#darkbutton.active .lightbutton{
  left: 16px;
}

body.active{
  background: #262626;
 
}
#darkbutton.active{
  background: white;
 
}

.breed-text{
  border: 5px;
  margin:0 auto;
  border-style: solid;
  border-color: lightblue;
  text-align: center;
  background-color: lightblue;
  align-items: center;
  width: 30%;
  height:25px;

  
}
.breed-select{
  width: 450px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
#dogimage{
  padding-left: 38%;
  align-items: center;
  max-width:500px;
  max-height:500px;
}