.header{
    text-align: center;
    background-color: blue;
    color: white;
    display: block;
    height: 150px;
    width: 100%;
    padding-top: 5px;
}

.button{
    padding-left: 100px;
   transform: translate(43em, -0%);
    float: left;
}

.body {
    
}

#output1{

}